.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated1000 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated2000 {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated3000 {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated4000 {
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated5000 {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated6000 {
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	30% {
		-webkit-transform: scale3d(1.25, .75, 1);
		transform: scale3d(1.25, .75, 1)
	}
	40% {
		-webkit-transform: scale3d(.75, 1.25, 1);
		transform: scale3d(.75, 1.25, 1)
	}
	50% {
		-webkit-transform: scale3d(1.15, .85, 1);
		transform: scale3d(1.15, .85, 1)
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	30% {
		-webkit-transform: scale3d(1.25, .75, 1);
		transform: scale3d(1.25, .75, 1)
	}
	40% {
		-webkit-transform: scale3d(.75, 1.25, 1);
		transform: scale3d(.75, 1.25, 1)
	}
	50% {
		-webkit-transform: scale3d(1.15, .85, 1);
		transform: scale3d(1.15, .85, 1)
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}



@-webkit-keyframes bounceInRight {
	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0)
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0)
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInRight {
	0%,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0)
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0)
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight
}

@-webkit-keyframes rotateInDownLeft {
	0% {
		transform-origin: left bottom;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		opacity: 0
	}
	0%,
	to {
		-webkit-transform-origin: left bottom
	}
	to {
		transform-origin: left bottom;
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}

@keyframes rotateInDownLeft {
	0% {
		transform-origin: left bottom;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		opacity: 0
	}
	0%,
	to {
		-webkit-transform-origin: left bottom
	}
	to {
		transform-origin: left bottom;
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}

.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft
}

@-webkit-keyframes wobble {
	0% {
		-webkit-transform: none;
		transform: none
	}
	15% {
		-webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
		transform: translate3d(-25%, 0, 0) rotate(-5deg)
	}
	30% {
		-webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
		transform: translate3d(20%, 0, 0) rotate(3deg)
	}
	45% {
		-webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
		transform: translate3d(-15%, 0, 0) rotate(-3deg)
	}
	60% {
		-webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
		transform: translate3d(10%, 0, 0) rotate(2deg)
	}
	75% {
		-webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
		transform: translate3d(-5%, 0, 0) rotate(-1deg)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes wobble {
	0% {
		-webkit-transform: none;
		transform: none
	}
	15% {
		-webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg);
		transform: translate3d(-25%, 0, 0) rotate(-5deg)
	}
	30% {
		-webkit-transform: translate3d(20%, 0, 0) rotate(3deg);
		transform: translate3d(20%, 0, 0) rotate(3deg)
	}
	45% {
		-webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg);
		transform: translate3d(-15%, 0, 0) rotate(-3deg)
	}
	60% {
		-webkit-transform: translate3d(10%, 0, 0) rotate(2deg);
		transform: translate3d(10%, 0, 0) rotate(2deg)
	}
	75% {
		-webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg);
		transform: translate3d(-5%, 0, 0) rotate(-1deg)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}

.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble
}

@-webkit-keyframes shake {
	0%,
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0)
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0)
	}
}

@keyframes shake {
	0%,
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0)
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0)
	}
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	10%,
	20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
		transform: scale3d(.9, .9, .9) rotate(-3deg)
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	10%,
	20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate(-3deg);
		transform: scale3d(.9, .9, .9) rotate(-3deg)
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada
}


@keyframes changeBig {
	from {
		opacity: 0;
		transform: scale(.3);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.changeBig {
	-webkit-animation-name: changeBig;
	animation-name: changeBig
}
/* ----------------------- new animation at 21/09/20 By zjp ----------------------- */
/* 向左插入 */
@-webkit-keyframes insertLeft {
	from {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}
@keyframes insertLeft {
	from {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}
.insertLeft {
	-webkit-animation-name: insertLeft;
	animation-name: insertLeft
}
/* 向右插入 */
@-webkit-keyframes insertRight {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}
@keyframes insertRight {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}
.insertRight {
	-webkit-animation-name: insertRight;
	animation-name: insertRight
}
/* 向下插入 */
@-webkit-keyframes insertDown {
	from {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}
@keyframes insertDown {
	from {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}
.insertDown {
	-webkit-animation-name: insertDown;
	animation-name: insertDown
}

/* 向上插入 */
@-webkit-keyframes insertUp {
	from {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}
@keyframes insertUp {
	from {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		-webkit-transform: none;
		transform: none
	}
}
.insertUp {
	-webkit-animation-name: insertUp;
	animation-name: insertUp
}

/* 擦除 */
@-webkit-keyframes wipeLeft {
	from   {
			-webkit-clip-path: inset(0 0 0 100%);
			clip-path: inset(0 0 0 100%);
	}
	to {
			-webkit-clip-path: inset(0 0 0 0);
			clip-path: inset(0 0 0 0);
	}
}
@keyframes wipeLeft {
	from   {
			-webkit-clip-path: inset(0 0 0 100%);
			clip-path: inset(0 0 0 100%);
	}
	to {
			-webkit-clip-path: inset(0 0 0 0);
			clip-path: inset(0 0 0 0);
	}
}
.wipeLeft {
	-webkit-animation-name: wipeLeft;
	animation-name: wipeLeft
}

@-webkit-keyframes wipeRight {
	from   {
			-webkit-clip-path: inset(0 100% 0 0);
			clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}
@keyframes wipeRight {
	from   {
			-webkit-clip-path: inset(0 100% 0 0);
			clip-path: inset(0 100% 0 0);
	}
	to {
			-webkit-clip-path: inset(0 0 0 0);
			clip-path: inset(0 0 0 0);
	}
}
.wipeRight {
	-webkit-animation-name: wipeRight;
	animation-name: wipeRight
}

@-webkit-keyframes wipeDown {
	from   {
			-webkit-clip-path: inset(100% 0 0 0);
			clip-path: inset(100% 0 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}
@keyframes wipeDown {
	from   {
		-webkit-clip-path: inset(100% 0 0 0);
		clip-path: inset(100% 0 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
			clip-path: inset(0 0 0 0);
	}
}
.wipeDown {
	-webkit-animation-name: wipeDown;
	animation-name: wipeDown
}

@-webkit-keyframes wipeTop {
	from   {
		-webkit-clip-path: inset(0 0 100% 0);
		clip-path: inset(0 0 100% 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
			clip-path: inset(0 0 0 0);
	}
}
@keyframes wipeTop {
	from   {
		-webkit-clip-path: inset(0 0 100% 0);
		clip-path: inset(0 0 100% 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}
.wipeTop {
	-webkit-animation-name: wipeTop;
	animation-name: wipeTop
}

/* 盒装展开 */
@-webkit-keyframes rectOpen {
	from   {
		-webkit-clip-path: inset(50% 50% 50% 50%);
		clip-path: inset(50% 50% 50% 50%);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}
@keyframes rectOpen {
	from   {
		-webkit-clip-path: inset(50% 50% 50% 50%);
		clip-path: inset(50% 50% 50% 50%);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
			clip-path: inset(0 0 0 0);
	}
}
.rectOpen {
	-webkit-animation-name: rectOpen;
	animation-name: rectOpen
}

/* 圆形 */
@-webkit-keyframes circleOpen {
	from   {
		-webkit-clip-path: circle(0 at 50% 50%);
		clip-path: circle(0 at 50% 50%);
	}
	to {
		-webkit-clip-path: circle(100% at 50% 50%);
		clip-path: circle(100% at 50% 50%);
	}
}
@keyframes circleOpen {
	from   {
		-webkit-clip-path: circle(0 at 50% 50%);
		clip-path: circle(0 at 50% 50%);
	}
	to {
		-webkit-clip-path: circle(100% at 50% 50%);
		clip-path: circle(100% at 50% 50%);
	}
}
.circleOpen {
	-webkit-animation-name: circleOpen;
	animation-name: circleOpen
}

/* 椭圆 */
@-webkit-keyframes ellipseOpen {
	from   {
		-webkit-clip-path: ellipse(0% 0% at 50% 50%);
		clip-path: ellipse(0% 0% at 50% 50%);
	}
	to {
		-webkit-clip-path: ellipse(100% 100% at 50% 50%);
		clip-path: ellipse(100% 100% at 50% 50%);
	}
}
@keyframes ellipseOpen {
	from   {
		-webkit-clip-path: ellipse(0% 0% at 50% 50%);
		clip-path: ellipse(0% 0% at 50% 50%);
	}
	to {
		-webkit-clip-path: ellipse(100% 100% at 50% 50%);
		clip-path: ellipse(100% 100% at 50% 50%);
	}
}
.ellipseOpen {
	-webkit-animation-name: ellipseOpen;
	animation-name: ellipseOpen
}

/* 菱形 */
@-webkit-keyframes rhombusOpen {
	0%   { 
			-webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
			clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
	}
	100% {
			-webkit-clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
			clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
	}  
}
@keyframes rhombusOpen {
	0%   { 
			-webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
			clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
	}
	100% {
			-webkit-clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
			clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
	}  
}
.rhombusOpen {
	-webkit-animation-name: rhombusOpen;
	animation-name: rhombusOpen
}

/* 加号 */
@-webkit-keyframes plusOpen {
	from   {
		-webkit-clip-path: polygon(0% 50%, 50% 50%, 50% 0, 50% 0, 50% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 100%, 50% 100%, 50% 50%, 0 50%);
		clip-path: polygon(0% 50%, 50% 50%, 50% 0, 50% 0, 50% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 100%, 50% 100%, 50% 50%, 0 50%);
	}
	to {
		-webkit-clip-path:  polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 99%, 0 100%, 0 100%);
		clip-path:  polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 99%, 0 100%, 0 100%);
	}
}
@keyframes plusOpen {
	from   {
		-webkit-clip-path: polygon(0% 50%, 50% 50%, 50% 0, 50% 0, 50% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 100%, 50% 100%, 50% 50%, 0 50%);
		clip-path: polygon(0% 50%, 50% 50%, 50% 0, 50% 0, 50% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 100%, 50% 100%, 50% 50%, 0 50%);
	}
	to {
		-webkit-clip-path:  polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 99%, 0 100%, 0 100%);
		clip-path:  polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 99%, 0 100%, 0 100%);
	}
}
.plusOpen {
	-webkit-animation-name: plusOpen;
	animation-name: plusOpen
}

/* 中央向左右展开 */
@-webkit-keyframes doorHorizontalOpen {
	from   {
		-webkit-clip-path: inset(0 50% 0 50%);
		clip-path: inset(0 50% 0 50%);
	}
	to {
		-webkit-clip-path:  inset(0 0 0 0);
		clip-path:  inset(0 0 0 0);
	}
}
@keyframes doorHorizontalOpen {
	from   {
		-webkit-clip-path: inset(0 50% 0 50%);
		clip-path: inset(0 50% 0 50%);
	}
	to {
		-webkit-clip-path:  inset(0 0 0 0);
		clip-path:  inset(0 0 0 0);
	}
}
.doorHorizontalOpen {
	-webkit-animation-name: doorHorizontalOpen;
	animation-name: doorHorizontalOpen
}

/* 中央向上下展开 */
@-webkit-keyframes doorVerticalOpen {
	from   {
		-webkit-clip-path: inset(50% 0 50% 0);
		clip-path: inset(50% 0 50% 0);
	}
	to {
		-webkit-clip-path:  inset(0 0 0 0);
		clip-path:  inset(0 0 0 0);
	}
}
@keyframes doorVerticalOpen {
	from   {
		-webkit-clip-path: inset(50% 0 50% 0);
		clip-path: inset(50% 0 50% 0);
	}
	to {
		-webkit-clip-path:  inset(0 0 0 0);
		clip-path:  inset(0 0 0 0);
	}
}
.doorVerticalOpen {
	-webkit-animation-name: doorVerticalOpen;
	animation-name: doorVerticalOpen
}

/* 盒子关闭   */
@-webkit-keyframes rectClose {
	from   {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	}
	to {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 100%, 100% 100%, 100% 0%);
	}
}
@keyframes rectClose {
	from   {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	}
	to {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 100%, 100% 100%, 100% 0%);
	}
}
.rectClose {
	-webkit-animation-name: rectClose;
	animation-name: rectClose
}

/* 左右向中央收缩 */
@-webkit-keyframes doorHorizontalClose {
	from   {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	}
	to {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0%, 50% 0%, 50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0%, 50% 0%, 50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0%);
	}
}
@keyframes doorHorizontalClose {
	from   {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	}
	to {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0%, 50% 0%, 50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0%, 50% 0%, 50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0%);
	}
}
.doorHorizontalClose {
	-webkit-animation-name: doorHorizontalClose;
	animation-name: doorHorizontalClose
}

/* 上下向中央收缩 */
@-webkit-keyframes doorVerticalClose {
	from   {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	}
	to {
		-webkit-clip-path:  polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%);
		clip-path:  polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%);
	}
}
@keyframes doorVerticalClose {
	from   {
		-webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0%, 100% 0%, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	}
	to {
		-webkit-clip-path:  polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%);
		clip-path:  polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%);
	}
}
.doorVerticalClose {
	-webkit-animation-name: doorVerticalClose;
	animation-name: doorVerticalClose
}

/* 变量种子计数器 */
@keyframes seed {
	0%{--seed:0}1%{--seed:1}2%{--seed:2}3%{--seed:3}4%{--seed:4}5%{--seed:5}6%{--seed:6}7%{--seed:7}8%{--seed:8}9%{--seed:9}10%{--seed:10}11%{--seed:11}12%{--seed:12}13%{--seed:13}14%{--seed:14}15%{--seed:15}16%{--seed:16}17%{--seed:17}18%{--seed:18}19%{--seed:19}20%{--seed:20}21%{--seed:21}22%{--seed:22}23%{--seed:23}24%{--seed:24}25%{--seed:25}26%{--seed:26}27%{--seed:27}28%{--seed:28}29%{--seed:29}30%{--seed:30}31%{--seed:31}32%{--seed:32}33%{--seed:33}34%{--seed:34}35%{--seed:35}36%{--seed:36}37%{--seed:37}38%{--seed:38}39%{--seed:39}40%{--seed:40}41%{--seed:41}42%{--seed:42}43%{--seed:43}44%{--seed:44}45%{--seed:45}46%{--seed:46}47%{--seed:47}48%{--seed:48}49%{--seed:49}50%{--seed:50}51%{--seed:51}52%{--seed:52}53%{--seed:53}54%{--seed:54}55%{--seed:55}56%{--seed:56}57%{--seed:57}58%{--seed:58}59%{--seed:59}60%{--seed:60}61%{--seed:61}62%{--seed:62}63%{--seed:63}64%{--seed:64}65%{--seed:65}66%{--seed:66}67%{--seed:67}68%{--seed:68}69%{--seed:69}70%{--seed:70}71%{--seed:71}72%{--seed:72}73%{--seed:73}74%{--seed:74}75%{--seed:75}76%{--seed:76}77%{--seed:77}78%{--seed:78}79%{--seed:79}80%{--seed:80}81%{--seed:81}82%{--seed:82}83%{--seed:83}84%{--seed:84}85%{--seed:85}86%{--seed:86}87%{--seed:87}88%{--seed:88}89%{--seed:89}90%{--seed:90}91%{--seed:91}92%{--seed:92}93%{--seed:93}94%{--seed:94}95%{--seed:95}96%{--seed:96}97%{--seed:97}98%{--seed:98}99%{--seed:99}100%{--seed:100}
}
/* 垂直百叶窗 */
.verticalBlinds {
	-webkit-mask: linear-gradient(to right, #000 calc(1% * var(--seed)), transparent calc(1% * var(--seed)));
	mask: linear-gradient(to right, #000 calc(1% * var(--seed)), transparent calc(1% * var(--seed)));
	-webkit-mask-size: 100px;
	mask-size: 100px;
	animation-name: seed;
	-webkit-animation-name: seed;
}
/* 水平百叶窗 */
.horizontalBlinds {
	-webkit-mask: linear-gradient(to bottom, #000 calc(1% * var(--seed)), transparent calc(1% * var(--seed)));
	mask: linear-gradient(to bottom, #000 calc(1% * var(--seed)), transparent calc(1% * var(--seed)));
	-webkit-mask-size: auto 100px;
	mask-size: auto 100px;
	animation-name: seed;
}
/* 1根轮辐 */
.spokeOne {
	-webkit-mask: conic-gradient(#000 calc(1% * var(--seed)), transparent calc(1% * var(--seed)));
	mask: conic-gradient(#000 calc(1% * var(--seed)), transparent calc(1% * var(--seed)));
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	animation-name: seed;
}