body
  padding 0
  margin 0
  overflow hidden
html,body,#app
  height 100%
.header
  display flex
  align-items center
  padding 10px 0
  height 50px !important
  position relative
.el-main
  background #f2f2f2
  padding 14px
  height calc(100vh - 102px)
  .page-code--child
    position relative
.clearfix:after
  height 0
  display block
  clear both
  content ''
  overflow hidden
[class*=' el-icon-cc'],[class^='el-icon-cc']
  font-family 'iconfont' !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.el-menu
  border none
.el-menu--horizontal>.el-menu-item,.el-menu--horizontal>.el-submenu .el-submenu__title
  height 51px
  line-height 51px
.source
  padding 14px
.card-title
  color #404852
  margin-bottom 22px
  text-transform capitalize
.white-bg
  background #fff
.card
  margin-bottom 14px
.system-setting
  width 50px
  height 50px
  line-height 50px
  border-left 1px solid #e6e6e6
  text-align center
  cursor pointer
  margin-left 10px
  font-size 20px
.system-setting :hover
  background #e6e6e6
.setting_side
  height auto
  width 260px
  padding 20px
  box-sizing border-box
  background #fff
  color #333
  font-size 14px
  .layout
    padding 1px 0
  h5
    margin 0 0 14px
    font-size 14px
.tagnav_switch
  padding-bottom 14px
  margin-bottom 15px
  border-bottom 1px solid #EBEEF5
  font-size 14px
  line-height 28px
.group__mb
  margin-bottom 10px
.group__ml20
  margin-left 20px
.group__ml10
  margin-left 10px
.content-card.add-page
  overflow auto
  height 100vh
  padding-bottom 115px
  box-sizing border-box
  display flex
  flex-direction column
  position absolute
  top 0px
  left 0px
  z-index 100
  width 100%
.content-card__footer
  height 50px
  line-height 50px
  background-color white
  border-top 1px solid #f0f0f0
  .sub-foot
    text-align right
    padding-right 50px
.content-card__main
  padding 14px !important
  flex 1
  overflow auto
.go-back
  i
    font-size 12px